<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=titleName%>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>

<body>

    <%-include('_header.ejs')%>
        <!-- <form action="/create-new-user" method="post" id="create-form">
            <div class="create-form-content">
                <div>


                    <label for="email-input">Email</label>
                    <input type="text" id="email-input" required>
                </div>
                <div>
                    <label for="name-input">Your Name</label>
                    <input type="text" id="name-input" required>
                </div>
                <div>



                    <label for="password-input">Password</label>
                    <input type="text" id="password-input" required>
                </div>
            </div>
            <button type="submit">SignUp</button>

        </form> -->


        <%-body%>

            <%-include('_footer.ejs')%>


                <!-- <form action="/find-user" method="post" id="find-form">
                    <div class="create-form-content">


                        <div>


                            <label for="find-email-input">Email</label>
                            <input type="text" id="find-email-input" required>
                        </div>
                        <div>
                            <label for="find-password-input">Password</label>
                            <input type="text" id="find-password-input" required>
                        </div>
                    </div>
                    <button type="submit">Login</button>

                </form> -->



                <%- script %>
</body>

</html>